public/index.html
<!DOCTYPE js><html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><meta name="viewport" content="width=device-width,initial-scale=1"/><title>Prajjwal Dimri</title><meta name="description" content="The virtual home of Prajjwal Dimri, a full stack web developer specializing in VueJS and NodeJS."/><link href="main.css" rel="stylesheet"/><link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"/></head><body><button class="btn-toggle"><img class="btn-toggle-img" src="./vectors/sun.svg"/></button><div class="main-grid"><aside class="info"><div class="profile"><img src="./images/Profile.jpeg"/></div><div class="headline"><h1 class="font-bold">WELL HELLO THERE!</h1></div><p class="font-thin">You found me! I am&nbsp;<span class="font-bold">Prajjwal Dimri.</span></p><p class="font-thin">I am a Full Stack Web Developer specializing in&nbsp;<a href="https://vuejs.org">VueJS</a><span> and&nbsp;</span><a href="https://nodejs.org">NodeJS.</a></p><div class="social-buttons"><a href="https://github.com/prajjwaldimri" target="_blank"><img src="./vectors/button-github.svg" width="64"/></a><a href="https://www.linkedin.com/in/prajjwaldimri/" target="_blank"><img src="./vectors/button-linkedin.svg" width="64"/></a><a href="https://t.me/prajjwaldimri" target="_blank"><img src="./vectors/button-telegram.svg" width="64"/></a><a href="mailto:prajjwaldimri@outlook.com"><img src="./vectors/button-mail.svg" width="64"/></a></div><div class="footer"><h5 class="font-normal grey--text pb-0 mb-0">Website built with PUG, SCSS and JS. Hosted on&nbsp;<a class="grey--text" href="https://gitlab.com" target="_blank">Gitlab</a></h5></div></aside><div class="projects main-carousel"><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><h1 class="font-normal pr-1">macha.in</h1><a href="https://macha.in" target="_blank"><img class="pr-1" src="./vectors/website-logo.svg" height="40"/></a><a href="https://github.com/prajjwaldimri/macha" target="_blank"><img src="./vectors/github-logo.svg" height="44"/></a></div><div class="features"><ul><li class="font-thin">A privacy focused social network</li><li class="font-thin">Built with NodeJS, Nuxt, MongoDB and GraphQL</li><li class="font-thin">Completely Open Source</li></ul></div></div><div class="image"><img src="./images/macha.png"/></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><h1 class="font-normal pr-1">Rajbhasha Portal</h1><a href="http://nitgoa.ac.in/rajbhasha" target="_blank"><img class="pr-1" src="./vectors/website-logo.svg" height="40"/></a><a href="https://github.com/prajjwaldimri/rajbhasha-website" target="_blank"><img src="./vectors/github-logo.svg" height="44"/></a></div><div class="features"><ul><li class="font-thin">Rajbhasha Portal built for N.I.T. Goa</li><li class="font-thin">Built with VueJS</li></ul></div></div><div class="image"><img src="./images/rajbhasha.png" style="width: 17rem"/></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><img class="pr-1" id="campzy-logo" src="./vectors/campzy.svg" height="48"/><a href="https://campzy.in" target="_blank"><img class="pr-1" src="./vectors/website-logo.svg" height="40"/></a></div><div class="features"><ul><li class="font-thin">Online camp booking website</li><li class="font-thin">Built with NodeJS, VueJS, MongoDB and GraphQL</li><li class="font-thin">Inventory Management system for camp owners</li><li class="font-thin">Payment Gateway integrated</li></ul></div></div><div class="image"><img src="./images/smartmockups_jnfz7k1g.png" style="width:20rem"/></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><h1 class="font-normal pr-1">potential-doodle</h1><a href="https://gitlab.com/PrajjwalDimri/potential-doodle" target="_blank"><img class="pr-1" src="./vectors/github-logo.svg" height="40"/></a></div><div class="features"><ul><li class="font-thin">A game which tries to merge Procedural Generation and Car Racing into one.</li><li class="font-thin">Built with C# and Unity</li></ul></div></div><div class="image"><video src="./videos/Camera-Potential-Doodle.mp4" height="160" autoplay="autoplay" loop="loop" muted="muted"></video></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><img class="pr-1 no-display-mobile" src="./vectors/befriend.svg" height="48"/><a class="no-display-mobile" href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank"><img class="pr-1" src="./vectors/microsoft-logo.svg" height="40"/></a><a class="no-display-mobile" href="https://github.com/prajjwaldimri/Friend-App" target="_blank"><img src="./vectors/github-logo.svg" height="44"/></a><img class="pr-1 no-display-desktop" src="./vectors/befriend.svg" height="38"/><a class="no-display-desktop" href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank"><img class="pr-1" src="./vectors/microsoft-logo.svg" height="30"/></a><a class="no-display-desktop" href="https://github.com/prajjwaldimri/Friend-App" target="_blank"><img src="./vectors/github-logo.svg" height="30"/></a></div><div class="features"><ul><li class="font-thin">A rape prevention app for Windows Phones</li><li class="font-thin no-display-mobile">Uses Microsoft's OEM reserved APIs to function which they graciously provided for this app.</li><li class="font-thin no-display-mobile">Completely Open Source</li><li class="font-thin no-display-mobile">Built with Xamarin and C#</li></ul></div><div class="quotes"><q class="font-thin no-display-mobile">The concept here is pretty compelling, especially if you venture anywhere where you might come a cropper.</q><q class="font-thin no-display-desktop">The concept here is pretty compelling.</q><a href="http://allaboutwindowsphone.com/reviews/item/21547_BeFriend.php" target="_blank"><p class="mt-0 dark--text">- Steve LitchField, AllAboutWindowsPhone.com</p></a></div></div><div class="image"><img class="no-display-mobile" src="./images/befriend.png"/><img class="no-display-desktop" src="./images/befriend.png" width="12rem"/></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><img class="pr-1 no-display-mobile" src="./vectors/10calc.svg" height="48"/><a class="no-display-mobile" href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank"><img class="pr-1" src="./vectors/microsoft-logo.svg" height="40"/></a><a class="no-display-mobile" href="https://github.com/prajjwaldimri/10Calc" target="_blank"><img src="./vectors/github-logo.svg" height="44"/></a><img class="pr-1 no-display-desktop" src="./vectors/10calc.svg" height="38"/><a class="no-display-desktop" href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank"><img class="pr-1" src="./vectors/microsoft-logo.svg" height="36"/></a><a class="no-display-desktop" href="https://github.com/prajjwaldimri/10Calc" target="_blank"><img src="./vectors/github-logo.svg" height="36"/></a></div><div class="features"><ul><li class="font-thin">A super versatile calculator rated 4.5 stars on Microsoft Store</li><li class="font-thin no-display-mobile">Built using C#</li><li class="font-thin no-display-mobile">Completely Open Source</li></ul></div><div class="quotes"><q class="font-thin">The more I used 10Calc, the more the Windows Phone app grew on me</q><a href="https://www.windowscentral.com/10calc-windows-phone-app-review" target="_blank"><p class="mt-0 dark--text">- George Ponder, Windows Central</p></a></div></div><div class="image"><img src="./images/10Calc.png"/></div></div></div></div></div><script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script><script async="async" src="main.js"></script></body></html>

src/index.pug
doctype
html(lang='en')
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Prajjwal Dimri
    meta(name="description" content="The virtual home of Prajjwal Dimri, a full stack web developer specializing in VueJS and NodeJS.")
    link(href="main.css", rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")

  body

    button.btn-toggle
      img.btn-toggle-img(src="./vectors/sun.svg")

    .main-grid

      aside.info
        .profile
          img(src="./images/Profile.jpeg")

        .headline
          h1.font-bold WELL HELLO THERE!

        p.font-thin You found me! I am&nbsp;
          span.font-bold Prajjwal Dimri.
        p.font-thin I am a Full Stack Web Developer specializing in&nbsp;
          a(href="https://vuejs.org") VueJS
          span  and&nbsp;
          a(href="https://nodejs.org") NodeJS.

        .social-buttons
          a(href="https://github.com/prajjwaldimri" target="_blank")
            img(src="./vectors/button-github.svg" width="64")
          a(href="https://www.linkedin.com/in/prajjwaldimri/" target="_blank")
            img(src="./vectors/button-linkedin.svg" width="64")
          a(href="https://t.me/prajjwaldimri" target="_blank")
            img(src="./vectors/button-telegram.svg" width="64")
          a(href="mailto:prajjwaldimri@outlook.com")
            img(src="./vectors/button-mail.svg" width="64")

        .footer
          h5.font-normal.grey--text.pb-0.mb-0 Website built with PUG, SCSS and JS. Hosted on&nbsp;
            a(href="https://gitlab.com" target="_blank").grey--text Gitlab

      .projects.main-carousel
        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 macha.in
                a(href="https://macha.in" target="_blank")
                  img(src="./vectors/website-logo.svg" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/macha" target="_blank")
                  img(src="./vectors/github-logo.svg" height="44")


              .features
                ul
                  li.font-thin A privacy focused social network
                  li.font-thin Built with NodeJS, Nuxt, MongoDB and GraphQL
                  li.font-thin Completely Open Source

            .image
              img(src="./images/macha.png")

        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 Rajbhasha Portal
                a(href="http://nitgoa.ac.in/rajbhasha" target="_blank")
                  img(src="./vectors/website-logo.svg" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/rajbhasha-website" target="_blank")
                  img(src="./vectors/github-logo.svg" height="44")


              .features
                ul
                  li.font-thin Rajbhasha Portal built for N.I.T. Goa
                  li.font-thin Built with VueJS

            .image
              img(src="./images/rajbhasha.png" style="width: 17rem")

        .carousel-cell
          .cell
            .project-info
              .title
                img(id="campzy-logo" src="./vectors/campzy.svg" height="48").pr-1
                a(href="https://campzy.in" target="_blank")
                  img(src="./vectors/website-logo.svg" height="40").pr-1


              .features
                ul
                  li.font-thin Online camp booking website
                  li.font-thin Built with NodeJS, VueJS, MongoDB and GraphQL
                  li.font-thin Inventory Management system for camp owners
                  li.font-thin Payment Gateway integrated

            .image
              img(src="./images/smartmockups_jnfz7k1g.png" style="width:20rem")

        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 potential-doodle
                a(href="https://gitlab.com/PrajjwalDimri/potential-doodle" target="_blank")
                  img(src="./vectors/github-logo.svg" height="40").pr-1


              .features
                ul
                  li.font-thin A game which tries to merge Procedural Generation and Car Racing into one.
                  li.font-thin Built with C# and Unity

            .image
              video(src="./videos/Camera-Potential-Doodle.mp4" height="160" autoplay loop muted)

        .carousel-cell
          .cell
            .project-info
              .title
                img(src="./vectors/befriend.svg" height="48").pr-1.no-display-mobile
                a(href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank").no-display-mobile
                  img(src="./vectors/microsoft-logo.svg" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/Friend-App" target="_blank").no-display-mobile
                  img(src="./vectors/github-logo.svg" height="44")

                img(src="./vectors/befriend.svg" height="38").pr-1.no-display-desktop
                a(href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank").no-display-desktop
                  img(src="./vectors/microsoft-logo.svg" height="30").pr-1
                a(href="https://github.com/prajjwaldimri/Friend-App" target="_blank").no-display-desktop
                  img(src="./vectors/github-logo.svg" height="30")

              .features
                ul
                  li.font-thin A rape prevention app for Windows Phones
                  li.font-thin.no-display-mobile Uses Microsoft's OEM reserved APIs to function which they graciously provided for this app.
                  li.font-thin.no-display-mobile Completely Open Source
                  li.font-thin.no-display-mobile Built with Xamarin and C#

              .quotes
                q.font-thin.no-display-mobile The concept here is pretty compelling, especially if you venture anywhere where you might come a cropper.
                q.font-thin.no-display-desktop The concept here is pretty compelling.
                a(href="http://allaboutwindowsphone.com/reviews/item/21547_BeFriend.php" target="_blank")
                  p.mt-0.dark--text - Steve LitchField, AllAboutWindowsPhone.com

            .image
              img(src="./images/befriend.png").no-display-mobile
              img(src="./images/befriend.png" width="12rem").no-display-desktop

        .carousel-cell
          .cell
            .project-info
              .title
                img(src="./vectors/10calc.svg" height="48").pr-1.no-display-mobile
                a(href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank").no-display-mobile
                  img(src="./vectors/microsoft-logo.svg" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/10Calc" target="_blank").no-display-mobile
                  img(src="./vectors/github-logo.svg" height="44")

                img(src="./vectors/10calc.svg" height="38").pr-1.no-display-desktop
                a(href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank").no-display-desktop
                  img(src="./vectors/microsoft-logo.svg" height="36").pr-1
                a(href="https://github.com/prajjwaldimri/10Calc" target="_blank").no-display-desktop
                  img(src="./vectors/github-logo.svg" height="36")

              .features
                ul
                  li.font-thin A super versatile calculator rated 4.5 stars on Microsoft Store
                  li.font-thin.no-display-mobile Built using C#
                  li.font-thin.no-display-mobile Completely Open Source

              .quotes
                q.font-thin The more I used 10Calc, the more the Windows Phone app grew on me
                a(href="https://www.windowscentral.com/10calc-windows-phone-app-review" target="_blank")
                  p.mt-0.dark--text - George Ponder, Windows Central

            .image
              img(src="./images/10Calc.png")


    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    script(async src="main.js")
